@font-face {
    font-family: 'fontello';
    src: url('./assets/font/fontello.eot?46450578');
    src: url('./assets/font/fontello.eot?46450578#iefix') format('embedded-opentype'),
         url('./assets/font/fontello.woff2?46450578') format('woff2'),
         url('./assets/font/fontello.woff?46450578') format('woff'),
         url('./assets/font/fontello.ttf?46450578') format('truetype'),
         url('./assets/font/fontello.svg?46450578#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }